span{
    color: #454545;
    font-size: 17px;
    font-family: 'Open Sans';
    font-weight: 400;
}
a{
    color: #454545;
    font-size: 17px;
    font-family: 'Open Sans';
    font-weight: 400;
}
.fondo{
    background-color: #f5f7fc;
}