<div id="contacto" class="padded2">
    <div class="container">              
        <div class="row">
            <div class="col col-50 caja-formulario">
                <h3>Contactanos</h3>
                <input type="text" class="form-control" placeholder="Nombres y apellidos">
                <input type="email" class="form-control" placeholder="Correo electrónico">
                <input type="text" class="form-control" placeholder="Asunto">
                <textarea rows="7" class="form-control" placeholder="Mensaje"></textarea>
                <input type="button" class="btn-formulario" value="Enviar mensaje">
            </div>            
            <div class="col col-50 caja-formulario">
                <h3>Donde encontrarnos</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.146479601229!2d-76.96637228523842!3d-12.102122991430448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7c8b3b74fc7%3A0xce4301f9225bcc2d!2sTravel%20Peru%20Tours!5e0!3m2!1ses-419!2spe!4v1652331796660!5m2!1ses-419!2spe" width="600" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h5>Oficina central</h5>
                <p class="contact-info"><i class="bi bi-geo-alt-fill"></i>Jr José Nicolás Rodrigo 250, Santiago de Surco 15023</p>     
                <p class="contact-info"><i class="bi bi-envelope-open-fill"></i> <a href="mailto:travelperu@gmail.com">travelperu@gmail.com</a></p>
                <p class="contact-info"><i class="bi bi-telephone-fill"></i>+51 987 654 321</p>
            </div>  
        </div> <!--row-->
    </div> <!--container-->
</div> <!--ubicacion-->
