<section class="section-grey padded2">
    <div class="container">
      <div class="row">   
        <div class="col-md-7 mx-auto margin-bottom-10 text-center">
          <h3>Datos acerca de nuestra agencia</h3>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col fun-facts-box blue text-center">
          <i class="bi bi-handbag-fill"></i>
          <p class="fun-facts-title"><span class="facts-numbers">+200</span><br>Tours Completados</p>
        </div> 
        <div class="col fun-facts-box red text-center">
          <i class="bi bi-heart-fill"></i>
          <p class="fun-facts-title"><span class="facts-numbers">+400</span><br>Clientes Felices</p>
        </div>
        <div class="col fun-facts-box green text-center">
          <i class="bi bi-map-fill"></i>
          <p class="fun-facts-title"><span class="facts-numbers">+50</span><br>Destinos Turisticos</p>
        </div>
      </div>
    </div>
  </section>
