<section id="regiones" class="paded">
  <div class="container py-5 text-center">
    <div class="row">
        <!--begin col-md-12 -->
        <div class="col-md-12 text-center">
          <h2 >Regiones</h2>
        </div>
        <!--end col-md-12 -->
        <!--begin col-md-4 -->

        <div class="col-md-4 ">
          <div class="main-services float-on-hover">
              <img src="assets/costaperuana.jpg" alt="">
            <div class="border sombra">
              <h4 class="text-center">Costa</h4>
              <p class="paded">Es una estrecha franja de desiertos y valles fértiles bañados por el océano Pacífico que bajan por la Cordillera de los Andes, la división geográfica con la sierra, y se pierden en el mar.</p>
            </div>            
          </div>
        </div>
        <!--end col-md-4 -->

        <!--begin col-md-4 -->
        <div class="col-md-4">
          <div class="main-services  float-on-hover">            
              <img src="assets/sierraperuana.jpg" alt="">            
            <div class="border sombra">
              <h4 class="text-center">Sierra</h4>
               <p class="paded">En el Perú, la región de la Sierra, también llamada Región Alto andina o Serranía es la región montañosa y de altiplanicies del país constituida por las tierras medias y altas de la cordillera de los Andes.</p>
            </div>            
          </div>
        </div>
        <!--end col-md-4 -->

        <!--begin col-md-4 -->
       <div class="col-md-4">
         <div class="main-services  float-on-hover">            
              <img src="assets/selvaperuana.jpg" alt="">            
            <div class="border sombra">
              <h4 class="text-center">Selva</h4>
               <p class="paded">Es un paisaje bioclimático que presenta gran cantidad de precipitaciones, vegetación abundante y un clima cálido, con una organización establecida en diferentes niveles de altitud</p>        
            </div>
            
          </div>
        </div>
        <!--end col-md-4 -->
        </div>
    </div>
</section>
