<div class="container fondo">
<section id="nosotros" class="padded "> 
        <div class="row justify-content-center row-cols-4 ">
          <h2 >¿Quienes Somos?</h2>
        </div>        
        <div class="row row-cols-1 row-cols-md-3 g-4 espacio">
            <div class="col">
          <div class="card">
            <img src="assets/imgdos.png"class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center ">Publicista</h5>
              <p class="card-text">Vivian estudio marketing y publicidad, se encarga de brindar información específica para cualquier tipo de viaje que desee experimentar nuestros clientes, ya sea traking, relajarse, deporte extremo, etc.</p>
              <ul class="nav col-md justify-content-center list-unstyled d-flex">
                <li class="nav-item"><a class="nav-link px-2 text-muted"></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="assets/correo.png" alt=""></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="assets/gorjeo2.png" alt=""></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="assets/microfono.png" alt=""></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="assets/instagram2.png" alt=""></a></li>
              </ul>
            </div>
          </div>
            </div>
            <div class="col">
          <div class="card">
            <img src="assets/imguno.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Gerente</h5>
              <p class="card-text">Andrés es el gerente con más de 6 años en la empresa, especializado en brindar un buen servicio y experiencia, para cualquier tipo de clientes.</p>
              <ul class="nav col-md justify-content-center list-unstyled d-flex">
                <li class="nav-item"><a class="nav-link px-2 text-muted"></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="assets/correo.png" alt=""></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="assets/gorjeo2.png" alt=""></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="assets/microfono.png" alt=""></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="assets/instagram2.png" alt=""></a></li>
              </ul>
            </div>
          </div>
            </div>
            <div class="col">
          <div class="card">
            <img src="assets/imgtres.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Marketing</h5>
              <p class="card-text">Eduardo es nuestro cofundador y ha desarrollado estrategias de búsqueda para tener una gran variedad de lugares para visitar en el Perú, tiene más de 5 años de experiencia en turismo.</p>
              <ul class="nav col-md justify-content-center list-unstyled d-flex">
                <li class="nav-item"><a class="nav-link px-2 text-muted"></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="assets/correo.png" alt=""></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="assets/gorjeo2.png" alt=""></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="assets/microfono.png" alt=""></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><img src="assets/instagram2.png" alt=""></a></li>
              </ul>
            </div>
          </div>
            </div>
       </div> 
</section>
