<div id="video" class="padded fondo">
    <div class="container">   
        <div class="row texto"> 
            <div class="col col-50">
                <iframe width="521" height="343" src="https://www.youtube.com/embed/IGw84RkJQGk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col col-50"> 
                <i class="bi bi-chat-left-quote green"></i>
                <p>Se perfila como una de las mejores opciones para recorrer el interior del país y conocer sus maravillas turísticas. No importa si es un viaje de negocios o turístico, si quieres hacer de esta experiencia inolvidable en Travels Peru encontraras la ayuda necesaria.</p>
                <h6>Jennifer Smith<span>  — Presidenta <span class="red">@CALTUR</span></span></h6>
            </div>
        </div> <!--row-->
    </div> <!--container-->
</div> <!--acerca-->
